.centralize-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right_side{
    float:right;
}

.width8em{
    max-width:8em;
    word-wrap: break-word;
}

.width9em{
    max-width:9em;
}

.width10em{
    max-width:10em;
}

.width12em{
    max-width:12em;
}

.filter_selected{
    background-color:lightgray;
}

.space_y{
    margin: 1em 0;
}
.space{
    margin: 1em 1em;
}

.form_select{
    width: 10em;
    float: right;

}

.total_results{
    position: relative;
    right: 18.5em;
    top: 2.4em;
    font-size: 14px;
}

.scroll_bar{
    height: 15em;
    overflow: scroll;
    max-width: 15em;
    font-size:0.9em;
}
/* 
.flip_window_last_column{
    position: absolute;
    left: -11em;
} */