.centralize-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right_side{
    float:right;
}

.width8em{
    width:8em;
}

.filter_selected{
    background-color:lightgray;
}

.space_y{
    margin: 1em 0;
}
.space{
    margin: 1em 1em;
}