#policy_titles{
    font-size:1.5em;
    margin:1em 0;
}

.form_margin_bottom{
    margin-bottom:3em;
}

.bolder{
    font-weight: bolder;
}

.shadow{
    padding:1em;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.text-note{
    font-size: 0.8em;
    color:gray;
}

.disclaimer{
    font-weight: bolder;
    font-size: 0.8em;
}


.padding_header_forms{
    padding: 2em 0;
}

.margin_header_forms{
    margin: 2em 0;
}

.button_small_central{
    width: 8em;
    display: block;
    margin: 0 auto;
}

.header_button_select{
    width:15em;
}

.header_buttons button{
    float: right;
    position: relative;
    top: 1.5em;

}